.sidebar {
  color: "#FFF";
  width: calc(100vw - 80vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11.7rem;
  padding: 2rem 4rem;

  &-profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-img {
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 1.3rem;
      overflow: hidden;
    }
    &-card {
      color: white;
      &-name {
        color: white;
        font-weight: 600;
        font-size: 3rem;
      }
      &-email {
        font-weight: 400;
        font-size: 1.7rem;
        opacity: 60%;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    &-link {
      text-decoration: none;
      color: white;
      opacity: 50%;
      transition: all 0.2s ease-in-out;
      > p {
        font-weight: 600;
        font-size: 2.5rem;
      }
      &:hover {
        opacity: 100%;
      }
    }
  }
}

.active {
    opacity: 100%;;
}
